page-login {
  ion-item.login {
    cursor: pointer;
    color: white;
    transition:all 0.5s ease-out;
  }
  ion-item.login:hover {
    transform:scale(1.05);
  }
  .facebook {
    background-color: #3B5898;
  }
  .google {
    background-color: #dd4b39;
  }
  .title {
    text-align: center;
    font-family: 'Baloo Bhaijaan', cursive;
  }
}
