
<ion-header>

  <ion-navbar>
    <ion-title>Chat with <span class="friend-name">{{friend.displayName}}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding scrollDownOnLoad>

  <div class="chat" *ngFor="let message of messages">

    <div *ngIf="message.sender === friend.displayName" >
      <ion-chip color="whiter">
        <ion-avatar>
          <img src="assets/Mario_icon_bubble.png">
        </ion-avatar>
        <ion-label color="dark">{{message.date | timeToDate}}</ion-label>
      </ion-chip>

      <div class="chat-block">
        <div class="chat-text">
          {{message.body}}
        </div>
      </div>
    </div>

    <div *ngIf="message.sender !== friend.displayName" class="me">
      <ion-chip color="whiter">
        <ion-label color="dark">{{message.date | timeToDate}}</ion-label>
        <ion-avatar>
          <img src="assets/Me.JPG">
        </ion-avatar>
      </ion-chip>

      <div class="chat-block">
        <div class="chat-text">
          {{message.body}}
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <form (submit)="sendMessage($event)">
    <ion-row>

      <ion-input
        type="text"
        clearInput
        placeholder="..."
        name="message"
        [(ngModel)]="newMessage.body"
        (focus)="scrollToBottom()"
      >
      </ion-input>

      <ion-buttons end>
        <button
          ion-button
          item-end
          center
          type="submit"
        >
          Send
        </button>
      </ion-buttons>

    </ion-row>
  </form>
</ion-footer>
