<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row class="profile-area">

    <ion-col>
      <ion-item no-padding
                no-lines
      >
        <ion-avatar id="profile-avatar"
                    item-start
        >
          <img class="profile-avatar-pic"
              src="http://www.planetcreation.co.uk/createpic/avatarold.JPG"
          />
        </ion-avatar>
      </ion-item>
    </ion-col>

    <ion-col col-8>
      <ion-row class="profile-title">
        <h1 id="profile-name">Hack Reactor</h1>
      </ion-row>
      <ion-row class="profile-title">
        <h1 id="profile-address">369 Lexington Ave. 11th Fl.</h1>
      </ion-row>
      <ion-row class="profile-title">
        <h1 id="profile-slogan">We Love Them Like You Do</h1>
      </ion-row>
    </ion-col>

  </ion-row>

  <div padding>
    <ion-segment [(ngModel)]="filter">
      <ion-segment-button value="fire">
        Fire
      </ion-segment-button>
      <ion-segment-button value="water">
        Water
      </ion-segment-button>
      <ion-segment-button value="grass">
        Grass
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item *ngFor="let pet of pets | filterPetsBySpecies: filter">
      <ion-avatar item-start
                  class='avatar'
      >
        <img [src]="pet.imageUrl" />
      </ion-avatar>
      <h1>{{pet.name}}</h1>
      <span *ngFor="let type of pet.types"> {{type +' '}} </span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
