<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemonsRef$ | async"
              no-padding
    >
      <ion-avatar item-start>
        <img [src]="pokemon.imageUrl" />
      </ion-avatar>
      <h1>{{pokemon.name}}</h1>
      <span *ngFor="let type of pokemon.types"> {{type +' '}} </span>
    </ion-item>
  </ion-list>

  <!-- virtualScroll is broken atm -->
  <!-- <ion-list [virtualScroll]="pokemonsRef$ | async" approxItemHeight="50px">
    <ion-item *virtualItem="let pokemon" no-padding>
      <ion-avatar item-start>
        <ion-img cache [src]="pokemon.imageUrl"></ion-img>
      </ion-avatar>
      <h2>{{pokemon.name}}</h2>
      <h6>{{pokemon.imageUrl}}</h6>
    </ion-item>
  </ion-list> -->

</ion-content>
