page-profile {
  h1 {
    margin: 0;
  }
  #profile-name {
    font-size:3.5vmax;
  }
  #profile-address {
    font-size:2vmax;
  }
  #profile-slogan {
    margin-top: 0.5vmax;
    font-size: 3vmax;
  }
  .avatar img {
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 75px;
  }
  .profile-area {
    flex: 0 1 30%;
    min-height: 100px;
    margin: 10px 0;
  }
  .col{
    margin: 0;
    padding: 0;
  }
  #profile-avatar {
    height: auto;
    width: auto;
    margin: 0;
  }
  .profile-avatar-pic {
    height: 100% !important;
    width: 100% !important;
  }
  .profile-title {
    overflow-x: hidden !important;
    font-size: auto;
    height: 25%;
    justify-content: center;
    text-align: center;
  }
  #profile-edit {
    height: 22px;
  }
}
