// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

* {
  text-transform: none !important;
}
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  dark-lighter: #333,
  whiter:     #f6f6f6
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$modal-inset-box-shadow: none;
$chip-avatar-size: 50px;
$chip-md-font-size: 15px;
$chip-md-text-color: color($colors, dark);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: white;

$tabbar-ios-background: white;
$tabs-ios-background: white;

$label-ios-margin-top: 0;
$label-ios-margin-bottom: 0;

$segment-button-ios-font-size: 1.75rem;
$segment-button-ios-line-height: 3rem;
$toast-ios-background: color($colors, light);
$toast-ios-title-color: color($colors, dark);
$toast-ios-title-font-size: 2rem;
$toast-ios-title-padding: 0.5rem;

$modal-ios-background-color: transparent;
$modal-ios-border-radius: 0;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background: white;

$tabbar-md-background: white;
$tabs-md-background: white;

$label-md-margin-top: 0;
$label-md-margin-bottom: 0;

$segment-button-md-font-size: 1.75rem;
$segment-button-md-line-height: 3rem;
$button-md-text-transform: none;

$toast-md-background: color($colors, light);
$toast-md-title-color: color($colors, dark);
$toast-md-title-font-size: 2rem;
$toast-md-title-padding: 0.5rem;

$modal-md-background-color: transparent;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$toolbar-wp-background: white;

$tabs-wp-background: white;

$segment-button-wp-font-size: 1.75rem;
$segment-button-wp-line-height: 3rem;

$toast-wp-background: color($colors, light);
$toast-wp-title-color: color($colors, dark);
$toast-wp-title-font-size: 2rem;
$toast-wp-title-padding: 0.5rem;
$toast-wp-border-radius: .65rem;

$modal-wp-background-color: transparent;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
