page-post {
  .chat {
    margin-bottom: 10px;
    display: block;
  }

  .chat-block {
    display: inline-block;
    position: relative;
    top: -30px;
  }

  .chat-text {
    background-color: color($colors, whiter);
    border-radius: 5px;

    padding: 5px;

    max-width: calc(100vw - 110px);

    margin: 0px 55px;
  }

  ion-label {
    font-size: 12px !important;
    line-height: 12px;
    height: 15px !important;
    padding: 2px 0 1px;
  }

  ion-avatar {
    max-width: 50px;
    max-height: 50px;
    margin: 0 !important;
  }

  ion-col {
    height: 20px;
    padding: 0 !important;
  }
}
