// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toast-message {
  text-align: center;
}

.toolbar-badge {
  background-color: color($colors, danger);
  color: color($colors, whiter);
  position: absolute;
  height: auto;
  width: auto;
  font-size: 15px;
  padding: 2px 3px;
  top: -3px;
  right: -3px;
  // border-radius: 100%;
}

.modal-wrapper {
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0;
  left: 0;
}

page-select-modal > ion-content > div.scroll-content {
  top: 25%;
  padding-left: 10vw;
  padding-right: 10vw;
}

::-webkit-scrollbar {
  display: none;
}

// .button-inner ion-icon.adjust-top {
//   position: relative;
//   top: -1px;
// }

.navigation {
  width: 100%;
  position: absolute;
  top: 62vh;
  // border: 1px outset color($colors, primary) !important;

  button {
    font-size: 4vh !important;
    text-align: center !important;
    width: 70%;
    color: color($colors, primary) !important;
    background-color: white !important;
  }

  button.back {
    width: 30%;
  }

  button:hover {
    cursor: pointer;
    background-color: color($colors, primary) !important;
    color: white !important;
  }
}
