// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toast-message {
  text-align: center;
}

//  * {
//   -webkit-transform: translateZ(0);
//   -webkit-transform: translate3d(0, 0, 0);
// }

// .toolbar-ios ion-title {
//   top: -40px !important;
// }

.selections {
  padding: 30vh 10vw !important;
  // max-height: 144px !important;
  // min-height: 35px !important;
  // max-width: 144px !important;
  // min-width: 35px !important;
  background: rgba(0, 0, 0, 0.5) !important;
}
