
<ion-header>
  <ion-navbar>

    <ion-title>Create a Pet Profile</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="doSubmit()">
        <ion-icon name="md-send" color="primary"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding overflow-scroll="true">

  <!-- picture of pet -->
  <img [hidden]="!newPet.image"
        [src] ="newPet.image"
        alt=""
  >

  <ion-list>
    <ion-item >
      <ion-label color="primary"
                 fixed
                 class="input-label"
      >
        Name
      </ion-label>
      <ion-input type="text"
                 clearInput
                 [(ngModel)]="newPet.name"
      >
      </ion-input>
    </ion-item>

    <div class="search">
      <ion-searchbar
                  debounce=500
                  placeholder="Breed"
                  [(ngModel)]="searchBreed"
                  (ionFocus)="toggleShowAutoComplete()"
                  (ionBlur)="toggleShowAutoComplete()"
      >
      </ion-searchbar>
      <ion-list *ngIf="showAutoComplete">
        <ion-item *ngFor="let breed of breeds | filterString: searchBreed" (click)="selectBreed(breed)">
          {{breed}}
        </ion-item>
      </ion-list>
    </div>

    <ion-item >
      <ion-label color="primary"
                 fixed
                 class="input-label"
      >
        Age
      </ion-label>
      <ion-input type="number"
                 clearInput
                 placeholder="yr."
                 name="years"
                 min="0"
                 [(ngModel)]="newPet.age.years"
      >
      </ion-input>
      <ion-input type="number"
                 clearInput
                 placeholder="mo."
                 name="months"
                 min="0"
                 max="11"
                 [(ngModel)]="newPet.age.months"
      >
      </ion-input>
    </ion-item>

    <div padding>
      <ion-segment [(ngModel)]="newPet.sex"
                   color="primary"
      >
        <ion-segment-button value="male">
          BOY
          <ion-icon name="ios-male"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="female">
          GIRL
          <ion-icon name="ios-female"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-item padding>
      <ion-label class="pet-profile-notes input-label"
                 color="primary"
                 fixed

      >
        Notes
      </ion-label>
      <ion-textarea type="text"
                    clearInput
                    auto-resize-text-area
                    [(ngModel)]="newPet.description"
      >
      </ion-textarea>
    </ion-item>
  </ion-list>

  <button ion-button
          round
          center
          (click)="doTakePicture()"
  >
    <ion-icon name="md-camera"></ion-icon>
    <!-- Use Camera -->
  </button>
  <button ion-button
          round
          center
          (click)="doGetPictures()"
  >
    <ion-icon name="md-images"></ion-icon>
    <!-- Album -->
  </button>
</ion-content>
