page-camera {
  ion-textarea {
    min-height: 100px;
  }
  ion-label {
    min-width: 50px !important;
    max-width: 50px !important;
    padding-bottom: 0;
  }
  textarea {
    max-width: 100%;
    width: 100%;
    height: 30vh;
  }

  .list > .item-block:first-child {
    border-top: none;
  }
}
