page-camera {
  ion-label {
    min-width: 50px !important;
    max-width: 50px !important;
    padding-bottom: 0;
  }
  .list > .item-block:first-child {
    border-top: none;
  }
  .button ion-icon {
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }
}
