page-search {
  .avatar img {
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 75px;
  }

  .like {
    background-color: transparent !important;
    color: color($colors, primary);
    opacity: 0.5;

    ion-icon {
      padding: 2px 5px 3px !important;
    }

    .follow {
      padding-top: 18px;
    }
  }

  .liked {
    opacity: 1;
  }
}
