page-search {
  .avatar img {
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 75px;
    cursor: pointer;
  }

  .toggle {
    background-color: transparent !important;
    color: color($colors, primary);
    opacity: 0.5;
    width: 70px;

    ion-icon {
      padding: 1px 5px 3px !important;
    }

    .follow {
      padding-top: 18px;
      font-size: 14px;
    }
  }

  .liked {
    opacity: 1;
  }

  .star {
    width: 35px;
    margin-left: 35px;
  }
}
