
<ion-header>

  <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="query">
      <ion-segment-button value="">
        All
      </ion-segment-button>
      <ion-segment-button value="fire">
        Fire
      </ion-segment-button>
      <ion-segment-button value="water">
        Water
      </ion-segment-button>
      <ion-segment-button value="grass">
        Grass
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item *ngFor="let pet of petRef$ | async | filterPetsBySpecies: query">
      <ion-avatar item-start
                  class='avatar'
      >
        <img [src]="pet.imageUrl" />
      </ion-avatar>
      <h1>{{pet.name}}</h1>
      <span *ngFor="let type of pet.types"> {{type +' '}} </span>
    </ion-item>
  </ion-list>


</ion-content>
