
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Choose Account Type</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="account.accType"
                  color="primary"
    >
      <ion-segment-button value="shelter">
        Shelter
      </ion-segment-button>
      <ion-segment-button value="user">
        User
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="search" [hidden]="account.accType !== 'shelter'">
    <ion-searchbar
                debounce=500
                placeholder="address"
                [(ngModel)]="account.address"
                (ionFocus)="toggleShowAutoComplete()"
                (ionBlur)="toggleShowAutoComplete()"
    >
    </ion-searchbar>
    <ion-list *ngIf="showAutoComplete">
      <!-- <ion-item *ngFor="let breed of breeds | filterString: searchBreed" (click)="selectBreed(breed)">
        {{breed}}
      </ion-item> -->
    </ion-list>
  </div>

  <div class="navigation">
    <ion-row>
      <button   ion-button
                block
                no-lines
                class="back"
                (click)="back()"
      >
        Back
      </button>
      <button   ion-button
                block
                no-lines
                [disabled]="!account.accType || (account.accType === 'shelter' && !account.address)"
                (click)="next()"
      >
        Next
      </button>
    </ion-row>
  </div>

</ion-content>
