page-select-modal {
  .toolbar {
    max-height: 35px !important;
    min-height: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  button {
    margin: 0 !important;
    background-color: white !important;
  }

  .button-inner {
    justify-content: left;
    padding-left: 12px;
  }

  button > span {
    color: color($colors, primary);
  }

  // height: 144px !important;

  button:last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}
